/* CSS Christmas Wishlist */

/*
----------------------------Color pallet----------------------------
Silver - #D8DBDE
Gold - #EEC900
Blue - #7DF9FF	
Red - #B00B0B
Green - #7D
*/
body {

    background-color:#087002 ;
}

nav,
.navbar,
.navbar-nav,
.navbar .container-fluid,
.bg-body-tertiary,
.navbar-expand-lg {
    background-color:#D8DBDE !important;
    border-color:#D8DBDE !important; 
}

.card {
    background-color:#EEC900 ;
    border-color:#D8DBDE;
}

.btn,
.btn-primary {
    background-color:#B00B0B ;
    color:#7DF9FF ;
    border-color:#B00B0B
}

* {
    box-sizing: border-box;
    /* Box Model Fix */
    margin: 0;
    padding: 0;
    border: 0;
}

/*make nav stay in place*/
nav,
.navbar {
    position: sticky;
    top: 0px;
    padding: 10px 0px;
    width: 100%;
    z-index: 5;
}


.card img {
    height: 100px;
    width: 100%;
    min-height: 200px;
    
}



.hero {
    background-image: url(../images/hero.jpg);
    background-repeat: none;
    background-size: cover;
    min-height: 500px;
    background-position-y:bottom;
}

.media-card-1,
.media-card-2,
.media-card-3,
.media-card-4,
.media-card-5,
.media-card-6,
.media-card-7,
.media-card-8,
.media-card-9 {
    margin: 5%;
    display: flex;
    min-height: 200px;
}


.container1 {
    display: grid;
}


/*-------- Tablet Media Query --------*/
@media screen and (min-width: 769px) {

    .container1 {
        grid-template-columns: 1fr 1fr;
    }
    
    .media-card-1 {
        grid-column: 1/2;
    }

    .media-card-2 {
        grid-column: 2/3;
    }

    .media-card-3 {
        grid-column: 1/2;
    }

    .media-card-4 {
        grid-column: 2/3;
    }

    .media-card-5 {
        grid-column: 1/2;
    }

    .media-card-6 {
        grid-column: 2/3;
    }

    .media-card-7 {
        grid-column: 1/2;
    }

    .media-card-8 {
        grid-column: 2/3;
    }

    .media-card-9 {
        grid-column: 1/2;
    }

}
/*-------- End of Tablet Media Query --------*/

/*-------- Desktop Media Query --------*/
@media screen and (min-width: 1025px) {

    .container1 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .media-card-1 {
        grid-column: 1/2;
    }

    .media-card-2 {
        grid-column: 2/3;
    }

    .media-card-3 {
        grid-column: 3/4;
    }

    .media-card-4 {
        grid-column: 1/2;
    }

    .media-card-5 {
        grid-column: 2/3;
    }

    .media-card-6 {
        grid-column: 3/4;
    }

    .media-card-7 {
        grid-column: 1/2;
    }

    .media-card-8 {
        grid-column: 2/3;
    }

    .media-card-9 {
        grid-column: 3/4;
    }
}
/*-------- End Desktop Media Query --------*/

/*-------- Large Display Media Query --------*/
@media screen and (min-width: 1850px) {
    
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

}
/*-------- End Large Display Media Query --------*/